* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif; /* Odreživanje fonta */
    line-height: 1.6; /* veličina fonta */
    background-color: #dfb9b996; /* background boja */
    color: #333; /* boja fonta */
    padding: 20px; /* margine */
}

nav {
    background-color: #007bff; /* boja pozadine */
    padding: 10px; /* margine */
    text-align: center; /* centriranje texta */
}

nav a {
    color: white; /* boja fonta */
    text-decoration: none; /* micanje dekoracije texta */
    margin: 0 15px; /* margine */
    font-weight: bold; /* text blodanje */
}

nav a:hover {
    text-decoration: underline; 
}

h1 {
    font-size: 2.5em; 
    text-align: center; /* centriranje */
    margin: 20px 0; /* margine */
}
h2 {
    font-size: 1.5em; 
    text-align: center; /* centriranje */
}


.w3-container {
    background: #ffffff; 
    border-radius: 8px; /* zaobljivanje rubova */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* sjenčanje */
    padding: 20px; /* margine */
    margin: 20px 0; /* margine */
}
.centered {
    background: #ffffff; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    margin: 20px 0; 
    display: flex; /* flexibilni display */
    justify-content: center; /* horizontalno centriranje */
}



label {
    display: block; /* Blokovski dipslay */
    margin: 10px 0 5px; 
    color: #007bff; 
}


input[type="text"],
input[type="password"] {
    width: 100%; /* maksimalna širina */
    padding: 10px; 
    border: 1px solid #ccc; /* border boja plus veličina */
    border-radius: 5px; 
    transition: border-color 0.3s; /* prijelaz između background i bordera */
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007bff; 
}

button {
    background: #007bff; 
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; /* cursor postaje pointer */
    transition: background 0.3s; 
    font-size: 1em; 
}

button:hover {
    background: #0056b3; 
}

#error-message {
    color: #FF494F; 
    margin-top: 10px; 
}

footer {
    text-align: center; 
    padding: 10px 0; 
    background-color: #007bff;
    color: white; 
    position: relative; 
    bottom: 0; /* udaljenost od dna */
    width: 100%; 
}

@media (max-width: 600px) {
    body {
        padding: 10px; 
    }

    h1 {
        font-size: 2em;
    }

    button {
        width: 100%; 
    }
}