* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; 
    margin: 0; 
    overflow-y: auto; /* vertikalni skrol */
}

body {
    font-family: 'Arial', sans-serif; 
    background-color: #000000; 
    color: #333; 
    padding: 20px;
}

h1 {
    text-align: center; 
    margin: 20px 0; 
    font-size: 2.5em; 
    color: #007bff;
}

h2 {
    font-size: 1em; 
    text-align: right; 
    margin: 20px 0;
}

nav a {
    color: white;
    text-decoration: none; 
    margin: 0 15px; 
    font-weight: bold; 
}

nav a:hover {
    text-decoration: underline; 
}

.movie-grid, .series-grid {
    display: flex; 
    overflow-y: auto; 
    max-height: 400px; 
    padding: 10px 0; 
    gap: 20px; 
    scroll-snap-type: y mandatory; 
}

.movie-grid::-webkit-scrollbar, .series-grid::-webkit-scrollbar {
    width: 8px; /* širina scrollbara */
}

.movie-grid::-webkit-scrollbar-thumb, .series-grid::-webkit-scrollbar-thumb {
    background: #007bff; 
    border-radius: 10px; 
}

.movie-card {
    background: #62006d9d; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
    text-decoration: none; 
    transition: transform 0.3s, box-shadow 0.3s; 
    flex: 0 0 auto; /* ograničava veličinu kartice */
    scroll-snap-align: start; /* skrol počinje od početka */
    width: 200px;
}

.movie-card:hover {
    transform: translateY(-5px); /* lift efekt */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
}

.movie-image {
    width: 200px; 
    height: 300px; 
    object-fit: cover; /* da bi slika izgledaala normalno bez distorzije */
}

.series-image {
    width: 200px; 
    height: 300px; 
    object-fit: cover; 
}

.movie-title {
    padding: 10px;
    text-align: center; 
    font-size: 1.1em; 
    color: #ffffff; 
    background-color: #62006d9d; 
    border-top: 1px solid #62006d9d; 
    width: 100%; /* naslov je preko cijele kartice */
    white-space: normal; /* tekst ide u slijedecu liniju */
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.series-title {
    padding: 10px;
    text-align: center; 
    font-size: 1.1em;
    color: #ffffff;
    background-color: #62006d9d; 
    border-top: 1px solid #62006d9d; 
    width: 100%;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

button {
    background: #007bff; 
    color: #fff; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    transition: background 0.3s; 
    font-size: 1em;
    margin-top: 20px; 
}

button:hover {
    background: #0056b3; 
}

.icon {
    margin-right: 8px; 
}

@media (max-width: 600px) {
    h1 {
        font-size: 2em; 
    }
}